---
import { getFilm, oneInviteID } from '../../../backend/backend.mjs';
import Base  from '../../layouts/Base.astro';
// const { ...film} = Astro.props;
import ImagePB from "../../components/ImagePB.astro";
const { id } = Astro.params;
const invite = await oneInviteID(id);
console.log(invite);

---

<Base titre={invite.nom}>
    <ul>
            <li>
                <div class="flex flex-col lg:flex-row items-center lg:items-start">
                    <div class="relative w-110 h-80 overflow-hidden rounded-lg">
                        <ImagePB 
                            record={invite} 
                            field="photo" 
                            alt={invite.nom} 
                            classImg="w-full h-full object-cover"
                        />
                </div>
                <strong>{invite.nom}</strong>
                <p><strong>Catégorie :</strong> {invite.Categorie}</p>
                <h3>Biographie</h3>
                <div set:html={invite.biographie}></div>
            </li>

    </ul>
</Base>