---
import { getFilm, oneInviteID } from '../../../backend/backend.mjs';
import Base  from '../../layouts/Base.astro';
// const { ...film} = Astro.props;
import ImagePB from "../../components/ImagePB.astro";
const { id } = Astro.params;
const invite = await oneInviteID(id);
console.log(invite);

---

<Base titre={invite.nom}>
    <ul class="space-y-4">
        <li>
          <div class="flex flex-col lg:flex-row items-center lg:items-start space-x-6">
            <div class="relative w-110 h-80 overflow-hidden rounded-lg">
              <ImagePB 
                record={invite} 
                field="photo" 
                alt={invite.nom} 
                classImg="w-full h-full object-cover"
              />
            </div>

            <div class="flex flex-col space-y-2">
              <strong class="text-xl font-semibold">{invite.nom}</strong>
              <p class="text-sm">
                <strong>Catégorie :</strong> {invite.Categorie}
              </p>
              <h3 class="text-lg font-medium">Biographie</h3>
              <div class="text-sm" set:html={invite.biographie}></div>
            </div>
          </div>
        </li>
      </ul>
</Base>